*   {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main-directory   {
    list-style: none;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
}

#main-title {
    text-align: center;
}

a   {
    text-decoration: none;
    color: rgb(53, 0, 0);
}

.large-pie  {
    width: 300px;
    height: auto;
}